* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

header {
  background-color: #fff;
  width: auto;
  height: auto;
  padding: 10px;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.boxLogo {
  width: 100%;
}

.boxLogo h1 {
  color: gray;
}

.boxBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btnBlue {
  color: #fff;
  width: auto;
  height: auto;
  background-color: #006eff;
  padding: 15px;
  border: 1px solid #006eff;
  border-radius: 6px;
  cursor: pointer;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/img/bg-masthead.jpg");
}

.containerHome {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.boxTitle {
  width: 33rem;
}

.boxTitle h1 {
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

.boxSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.submitInput {
  width: auto;
}

.submitInput input {
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: bold;
}

.boxSubmit .btnBlue { 
  padding: 20px;
  font-weight: bold;
}

.benefits {
  height: auto;
  background-color: #ededed54;
  padding: 60px;
}
.containerBenefits {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.boxBenefits {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.boxBenefits img {
  width: 80px;
}

.boxBenefits p {
  color: rgb(0 0 0 / 40%);
  width: 80%;
  text-align: center;
  font-size: 1.1rem;
  line-height: 25px;
}

.description {
  width: auto;
  height: auto;
}

.containerDescription {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.containerDescription > .boxDescription,
.boxImage {
  width: 100%;
}

.containerDescription:nth-child(2) {
  flex-direction: row-reverse;
}

.boxDescription {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.boxDescription > div {
  padding-left: 40px;
}

.boxDescription p {
  color: rgb(0 0 0 / 40%);
  font-size: 1.1rem;
  line-height: 25px;
}

.boxImage img {
  width: 100%;
  object-fit: cover;
}

.testimonials {
  background-color: #ededed54;
  padding: 50px;
}

.containerTestimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.titleTestimonials > h1 {
  color: #2a2a2b;
  font-size: 32px;
  text-align: center;
}

.boxPersons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.boxPerson {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.miniBoxImg {
  width: 180px;
}

.miniBoxImg img {
  width: 100%;
  border-radius: 90px;
}

.miniBoxDesc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  text-align: center;
}

footer {
  padding: 60px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxFooter,
.footerIcons {
  width: 50%;
}

.boxFooter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.footerNav ul {
  display: flex;
  gap: 60px;
}

.footerNav li {
  margin: 0px;
}

.footerNav li:first-child {
  list-style: none;
}

.footerCopyright p {
  color: rgb(0 0 0 / 40%);
}

.footerIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footerIcons ul {
  display: flex;
  gap: 30px;
}

.footerIcons li {
  list-style: none;
}

.footerIcons li a > img {
  width: 30px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .boxSubmit {
    flex-wrap: wrap;
    width: auto;
  }

  .boxTitle {
    width: auto;
  }

  .containerBenefits {
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  footer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .boxFooter {
    width: auto;
  }

  .footerNav ul {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  .footerIcons {
    justify-content: center;
  }
}

@media only screen and (max-width: 425px) {
  header > nav .boxLogo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  header > nav .boxBtn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .boxSubmit {
    padding: 8px;
  }
  .containerDescription:nth-child(n) {
    flex-direction: column-reverse;
  }
  .boxDescription {
    padding: 20px 0px;
  }
  .boxDescription > div {
    padding-left: 20px;
  }
  .boxDescription > div > p {
    padding-top: 10px;
  }
  .boxImage {
    height: 400px;
  }
  .boxImage img {
    height: 100%;
  }
  .boxPersons {
    flex-direction: column;
  }
  .boxTitle > h1 {
    font-size: large;
  }
  .titleTestimonials > h1 {
    font-size: x-large;
  }
}
